#Selecting and Cleaning our pandas DataFrame

Previous IPython Notebook Tutorial: [01_instagram_analyze_json_DataFrame](https://github.com/odubno/instagram_analyzer/blob/master/IPython_Notebook_Files/01_instagram_analyze_json_DataFrame.ipynb)

###Here, we're creating a function using our code from the last example.

In [25]:
import requests
import requests
from pandas.io.json import json_normalize
import pandas as pd

def instagram_data():
    base_url = "https://api.instagram.com/v1"
    CLIENT_ID = '768fcf1f36c94eb08506bae0a9caffa31'
    query = 'nyc'

    url = '{0}/tags/{1}/media/recent?client_id={2}&count=30'.format(
        base_url, query, CLIENT_ID)

    r = requests.get(url)
    j = r.json()
    
    results = []
    if 'data' in j: 
        data = j['data']
        df_instance = json_normalize(data)
        results.append(df_instance)
        
    df = pd.DataFrame().append(results)
    
    return df

In [26]:
#Addional imports necessary for this part
import datetime

In [27]:
df = instagram_data() # creating a variable df to hold the data we pull

In [28]:
df.head(2) #displaying the first 2 rows of our data set.

,attribution,caption.created_time,caption.from.full_name,caption.from.id,caption.from.profile_picture,caption.from.username,caption.id,caption.text,comments.count,comments.data,...,users_in_photo,videos.low_bandwidth.height,videos.low_bandwidth.url,videos.low_bandwidth.width,videos.low_resolution.height,videos.low_resolution.url,videos.low_resolution.width,videos.standard_resolution.height,videos.standard_resolution.url,videos.standard_resolution.width
0,None,1435090858,,1798949857,https://igcdn-photos-a-a.akamaihd.net/hphotos-...,fashiontrendsavvy,1013938067981724512,#1 Tuesday Glam goes to @oliviapierson #fashi...,0,[],...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,1435090857,Jerome Bell,15918964,https://igcdn-photos-d-a.akamaihd.net/hphotos-...,jeromebellsings,1013938064038164049,Patterns... #aboutlastnight #NYC #guyswithstyl...,0,[],...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.head(2)

,index,attribution,caption.created_time,caption.from.full_name,caption.from.id,caption.from.profile_picture,caption.from.username,caption.id,caption.text,comments.count,...,users_in_photo,videos.low_bandwidth.height,videos.low_bandwidth.url,videos.low_bandwidth.width,videos.low_resolution.height,videos.low_resolution.url,videos.low_resolution.width,videos.standard_resolution.height,videos.standard_resolution.url,videos.standard_resolution.width
0,0,None,1435090858,,1798949857,https://igcdn-photos-a-a.akamaihd.net/hphotos-...,fashiontrendsavvy,1013938067981724512,#1 Tuesday Glam goes to @oliviapierson #fashi...,0,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,None,1435090857,Jerome Bell,15918964,https://igcdn-photos-d-a.akamaihd.net/hphotos-...,jeromebellsings,1013938064038164049,Patterns... #aboutlastnight #NYC #guyswithstyl...,0,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we'll clean up the 'created_time' form looking like this: '1435090858' to looking like this: '2015-06-23 16:15:54'

In [34]:
df['created_time'] = [
    y.replace(y, datetime.datetime.fromtimestamp(int(str(y))).strftime(
    '%Y-%m-%d %H:%M:%S')) for y in df['created_time']]

Selecting the columns we want to work with. You may select any additional columns or any column that you are interested in working with. We found thse to be most relevant to us.

In [38]:
cols = [
    'user.username',
    'caption.text',
    'tags',
    'comments.count',
    'likes.count',
    'filter',
    'type',
    'created_time',
    'user.full_name',
    'user.id',
    'link',
    'location.latitude',
    'location.longitude'
]

In [41]:
df_cols = df[cols]
df = df_cols.rename(columns=lambda x: x.replace('.',' ').title())

In this notebook using our previous work we pulled in the data, cleaned it using pandas, selected the columns we want to work with and output it back into the pandas DataFrame.